* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--color-fondo);
  margin: 0;
  padding: 0;
}

.main-content {
  background-color: var(--color-fondo);
    padding-top: 0 !important;
    margin-top: 0 !important;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}