:root {
    /* Paleta principal */
    --color-fondo: #F7E7E2;        
    --color-suave: #DA9F93;        
    --color-medio: #B6465F;        
    --color-primario: #890620;    
    --color-oscuro: #2C0703; 
    --color-marfil: #F5EFE6;      

    --fuente-decorativa: 'Great Vibes', cursive;

}