.menu .active {
    border-bottom: 2px solid var(--color-suave);
    color: var(--color-suave);
}

.top-bar {
  background-color: var(--color-fondo);
  padding-top: 0;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  transition: background 0.3s ease;
}
.menu,
.menu-text {
  background-color: transparent !important;
}

.navbar__logo-enlace,
.navbar__logo-enlace.active {
  border-bottom: none !important;
  padding: 0;
  margin: 0;
}



.navbar__logo {
  height: 60px;
  width: auto;
  display: block;
}

.access {
  margin-right: 20px;
  color: var(--color-oscuro);
}

.access:hover {
  color: var(--color-suave);
}

.icon-carrito {
  width: 24px;
  height: 24px;
}


.top-bar--transparente {
  background-color: transparent !important;
    box-shadow: none;
    position: absolute;
}

.top-bar--transparente .menu,
.top-bar--transparente .menu-text,
.top-bar--transparente .top-bar-left,
.top-bar--transparente .top-bar-right {
  background-color: transparent !important;
}

/* Textos en blanco */
.top-bar--transparente .title,
.top-bar--transparente .subtitle {
  color: var(--color-marfil) !important;
}
.top-bar--transparente .access {
  color: var(--color-marfil) !important;
}

.top-bar--transparente .access:hover {
  color: var(--color-suave) !important;
}
.top-bar--transparente .menu .active {
  color: var(--color-suave) !important;
  border-bottom-color: var(--color-suave);
}

.top-bar--transparente .icon-carrito {
  filter: brightness(0) invert(1);
}


