.menu .active {
    border-bottom: 2px solid var(--color-suave);
    color: var(--color-suave);
}

.top-bar {
  background-color: var(--color-fondo) !important;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  transition: background 0.3s ease;
}

.menu,
.menu-text {
  background-color: transparent !important;
}


.title {
    color: var(--color-oscuro);
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-left: 10px;
}

.subtitle {
    color: var(--color-oscuro);
    font-size: 11px;
    padding: 0 0 0 10px;
    
}

.access {
  margin-right: 20px;
  color: var(--color-oscuro);
}

.access:hover {
  color: var(--color-suave);
}

.icon-carrito {
  width: 24px;
  height: 24px;
}


.top-bar.top-bar--transparente {
  background-color: transparent !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: none;
}
.top-bar.top-bar--transparente .menu,
.top-bar.top-bar--transparente .menu-text,
.top-bar.top-bar--transparente .top-bar-left,
.top-bar.top-bar--transparente .top-bar-right {
  background-color: transparent !important;
}

/* Textos en blanco */
.top-bar.top-bar--transparente .title,
.top-bar.top-bar--transparente .subtitle {
  color: var(--color-marfil) !important;
}
.top-bar.top-bar--transparente .access {
  color: var(--color-marfil) !important;
}

.top-bar.top-bar--transparente .access:hover {
  color: var(--color-suave) !important;
}
.top-bar.top-bar--transparente .menu .active {
  color: var(--color-suave) !important;
  border-bottom-color: var(--color-suave);
}

.top-bar.top-bar--transparente .icon-carrito {
  filter: brightness(0) invert(1);
}


