.container {
    background-color: var(--color-oscuro);
    color: var(--color-suave);
    padding: 40px 60px 0px 60px;
}

.container h4 {
    color: var(--color-fondo);
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-suave);
    padding-bottom: 8px;
    margin-bottom: 12px;
    text-align: center;
}

.container ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.fast-access {
    color: var(--color-fondo);
    font-size: 12px;
}

.fast-access:hover {
    color: var(--color-suave);
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;
}

.footer-icons svg {
    width: 30px;
    height: 30px;
}

.footer-icons svg:hover {
    color: var(--color-suave);
    cursor: pointer;
}

span{
    color: var(--color-fondo);
    font-size: 12px;
}

a{
    color: var(--color-fondo);
}


.footer-bottom {
    text-align: center;
    padding: 16px 0;
    margin-top: 30px;
    border-top: 1px solid var(--color-suave);
    color: var(--color-fondo);
    font-size: 12px;
}

.main-content {
    flex: 1;
}